*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body
{
    background-color: #14213d;
}
form
{
    position: relative;
    top: -50px;
    background-color: #c7f9cc;
    color: black;
    width: 35%;
    margin-left:32%;
    height: 30%;
    border: 2px solid white;
}
input
{
    margin-top: 15%;
    width: 75%;
    margin-left: 2%;
    height: 35px;
    background-color: white;
}
button
{
    width: 10%;
    height: 35px;
    background-color: white;
}
button:hover
{
    cursor: pointer;
    background-color: #3c6e71;
    color: white;
}
legend
{
    text-align: center;
    background-color: #38a3a5;
    color: white;
}

h2
{
    color: white;
    text-align: center;
}
a
{
    color: white;
}
img
{
    position: relative;
    margin-left: 34%;
    top: -190px;
}